<form class="my-5">
    <div class="form-group">
        <label class="mx-5">Nombre</label>
        <input type="text" [(ngModel)]="cliente.fullname" name="nombre">
    </div>
    <div class="form-group">
        <label class="mx-5">Fecha :</label>
        <input class="mx-2" type="text" [(ngModel)]="cliente.brith" name="birth">
    </div>
    <div class="form-group">

        <ng-container *ngIf="!cliente.id; else updateBlock">
            <button class="btn btn-dark" role="button"
            (click)="createClient()">Crear</button>
        </ng-container>
        <ng-template #updateBlock>
            <button class="btn btn-dark" role="button"
            (click)="updateClient()">Actualizar</button>
        </ng-template>
        
    </div>
    
</form>
